
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right" style="margin-left:10px;">
    <li class="nav-item">
        @Html.ActionLink("Merhaba   " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class =  "nav-link" })
    </li>
    <li>
        <button type="button" onclick="javascript:document.getElementById('logoutForm').submit()" id="loginLink" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-expanded="false">
            <span class="fa fa-sign-out" aria-hidden="true"></span>
        </button>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-left:10px;">
        <li>
            <button type="button" onclick="location.href='@Url.Action("Login", "Account")'" id="loginLink" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
                    data-target="#
                    " aria-expanded="false">
                <span class="fa fa-user" aria-hidden="true"></span>
            </button>
        </li>
        
    </ul>
}
