
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="jumbotron">
    <h1 class="display-4" style="color:darkcyan;">Admin Paneline Hoşgeldiniz</h1>
    <p class="lead">Admin panelinde Blog yazısı ekleme, güncelleme, silme ve listeleme işlemlerini gerçekleştirebilirsiniz.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    
</div>