
@{
    ViewBag.Title = "Post";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Post</h2>

<table class="table table-bordered table-hover" style="text-align:center;">
    <thead>
        <tr>
            <th>Gezi Görseli</th>
            <th>Gezi Başlığı</th>
            <th>Oluşturulma Tarihi</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="#" alt="" class="img-thumbnail" style="height:150px;" />
            </td>
            <td>
                Gezi başlığı
            </td>
            <td>
                Oluşturma Tarihi
            </td>
            <td>
                <a href="#" style="font-size:17pt;" class="btn btn-warning">
                    <i class="fa fa-repeat"></i>
                </a>
            </td>
            <td>
                <a href="#" style="font-size:17pt;" class="btn btn-info">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

