@{
    ViewBag.Title = "Travel Blog";
}
<title>@ViewBag.Title</title>
<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(../../Content/img/sileimg1.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        İstanbul, Şile
                                        <br> Marmara
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">GEZMEK</span> sandığınızdan
                                        <br> daha önemli...
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <span class="price-a">Fazla uzak değil...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(../../Content/img/yalovaimg1.JPG)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        Yalova, Merkez
                                        <br> Marmara
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">DOĞA</span>'nın
                                        <br> yabancı olmadığını anlayacaksınız...
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <span class="price-a">YOLA ÇIK...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(../../Content/img/istanbulimg1.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">
                                        İstanbul, Fatih
                                        <br> Marmara
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">KÜLTÜR</span>
                                        <br> saklı kalamaz...
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <span class="price-a">KEŞFET...</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Carousel end /-->
<br />
<div class="site-section">
    <div class="container">
        <div class="row" style="margin-top:30px;">          
            @*Doğa İnsansız Olur Mu?*@
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <div>
                        <img src="~/Content/img/gorselimg4.jpg" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="post-entry-1-contents">
                        <h2><div>Doğa İnsansız Olur Mu ?</div></h2>
                        <span class="meta d-inline-block mb-3">----------- </span>
                        <p style="text-align:justify;">Medeniyet ve teknolojinin insanoğlunun refahına yapmış olduğu katkılar kelimeler ile anlatılamaz, şüphesiz. Şehirler, aletler, altyapılar olduğu sürece hepimiz yeryüzündeki en üstün fiziksel varlıklarız. Bunların olmadığı yerlerin hepsine bunları götürmeye kalkarsak eğer, insanoğlu saltanatını sayılı yıllara sıkıştırmış olacaktır. Düşmanı olmayan bir savaşın içinde kalmaya devam etmenin hiç bir anlamı olmadığını, suyun çeşmeden akmadığı yerlerde nasıl içileceğini ve kullanılacağını, doğalgazın ve elektirikli sobanın olmadığı yerlerde nasıl ısınılacağını, karınlarını nasıl doyuracaklarını ve nasıl hayatta kalacaklarını çocuklarımıza anlatmalıyız. Doğadan vazgeçemeyiz. İnsansız doğa, doğasız insan olmaz. </p>
                    </div>
                </div>
            </div>          
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <div>
                        <img src="~/Content/img/tahtaimg.jpg" alt="Image"
                             class="img-fluid">
                    </div>
                    <div class="post-entry-1-contents">
                        <h2><div>Güzellikler Basit Detaylarda Saklıdır</div></h2>
                        <span class="meta d-inline-block mb-3">----------- </span>
                        <p style="text-align:justify;">Şatafatlı güzelliklerin insana verdiği haz ile kimsenin göremediği, keşfedemediği güzelliklerin insana verdiği haz arasında büyük bir fark vardır. Aidiyet duygusu, keşfetmenin verdiği özgüven sayesinde çok daha mutlu olabilirsiniz. Günümüzde çoğu kişi gözünün önünde duran esrarengiz şeyleri bir başkasının göstermesi sayesinde fark ediyor. İstanbul boğaz köprüsünün fotoğrafını herkes çekebilir, fakat kendi odunluğunuzda dizilmiş kerestelerin fotoğrafını sadece siz çekebilirsiniz. Herkes boğaz turu yapabilir, fakat köyünüzdeki derenin içinde sadece siz yürüyebilirsiniz. Kendi çevrenizin sahibi olmak sizi yukarılara taşıyacak ve bakış açınızı genişletecektir. Basit detayların sizi yormadan mutlu edeceğini unutmayın. </p>
                    </div>
                </div>
            </div>
            @*Tadında Gezmek, Eğlenmek, Yaşamak*@
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <div>
                        <img src="~/Content/img/vapurimg1.jpg" alt="Image"
                             class="img-fluid">
                    </div>

                    <div class="post-entry-1-contents">
                        <h2>Tadında Gezmek, Eğlenmek, Yaşamak</h2>

                        <span class="meta d-inline-block mb-3">----------- </span>
                        <p style="text-align:justify;">Keyif ne bedava ne de çok pahalı olmamalıdır. Verdiğinizin karşılığını alabilmek önemlidir. İyi planlama burda en önemli detaydır. Maceralarınızın üç parçada size haz verir. Yapmış olduklarınızı hatırlamak, yaparken zevk almak ve yapmak istediğiniz şeyleri hayal etmek. Bütün anlamda bir macera sizi tatmin edecektir. Bunlardan herhangi birini abartmak, size hayal kırıklığı olarak dönmekten başka bir şey olmayacaktır. Bu maceraları hayatınızın önemli noktaları olarak görebilirsiniz fakat bunların dışında da bir hayatınız olduğu gerçeğini unutmamalısınız. Hayatınızın daha iyi olması için çabalamaktan vazgeçmemelisiniz. Yeni maceralarınız siz yaşadıkça sizi bulacaktır. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
